.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.card__title {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
}
.card__summary {
  width: 700px;
  margin-top: 50px;
  margin-bottom: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.card__summary__p {
  padding-top: 70px;
  padding-left: 70px;
  padding-bottom: 70px;
  padding-right: 50px;
  font-size: 15px;
  line-height: 40px;
}

@media only screen and (min-width: 721px) {
  .card__content {
    width: 700px;
    margin-top: 50px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 100px;
  }
}
.card__left {
  margin-top: 50px;
  margin-left: 50px;
}
.time {
  color: blue;
  font-weight: 700;
  font-size: 20px;
}
.name {
  font-size: 15px;
  font-weight: 600;
}
.card__line__two {
  font-size: 15px;
  font-weight: 600;
}
.card__line__three {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 50px;
}
.card__text {
  padding-top: 120px;
  padding-left: 70px;
  padding-bottom: 70px;
  padding-right: 50px;
  font-size: 15px;
  line-height: 40px;
}
@media only screen and (max-width: 720px) {
  .card__summary {
    box-shadow: 2px 2px 10px rgba(1, 1, 1, 0.1);
    width: 360px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: white;
  }
  .card__summary__p {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
    padding-right: 50px;
    font-size: 15px;
    line-height: 40px;
  }

  .card__line__three {
    margin-bottom: 20px;
  }
  .card__content {
    box-shadow: 2px 2px 10px rgba(1, 1, 1, 0.1);
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 360px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .card__text {
    padding-top: 0px;
    padding-left: 50px;
    padding-bottom: 30px;
    padding-right: 50px;
    font-size: 15px;
    line-height: 35px;
  }
}
