.card__contact {
  width: 700px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.contact {
  padding-top: 70px;
  padding-left: 70px;
  padding-bottom: 70px;
  padding-right: 50px;
  font-size: 23px;
  line-height: 40px;
}
.contact p {
  font-weight: 600;
}
.phone__number {
  color: rgb(8, 0, 114);
}
