.me {
  display: flex;
  width: 100%;
}
@media only screen and (min-width: 721px) {
  .me {
    height: 100vh;
    min-width: 980px;
  }
}
.me__right {
  width: 100%;
}
@media only screen and (max-width: 720px) {
  .me__right {
    width: 100%;
  }
}
