.footer {
  display: flex;
  height: 50px;
  justify-content: end;
  align-items: center;
  margin-right: 60px;
}
.footer__img__container {
  width: 50px;
  background-color: white;
}

.footer__img {
  width: 30px;
  opacity: 70%;
}
.footer__img:hover {
  opacity: 100%;
  cursor: pointer;
}
